.stockspanel{

display:flex;
margin-bottom: 80px;
justify-content: space-evenly;
}

.stockspaneldown{
    align-content: space-between;
    
}
.newstable{
    font-size: 15px;
    background-color: #23252A;
    display:block;
    overflow:auto;
    height:600px;
    width:510px;
    color:white;
    /* right: 0px;
    top: 140px;
    position: absolute; */
      
    
    }

.divtableandchart{
    display: flex;
    justify-content: space-around;
    border-radius:15px;

}

.contenderdiv{
    background-color: rgba(239, 245, 237, 0.8);
    margin: 12px 50px;
    border-radius: 15px;
}



.h3home{
	text-decoration: none;
	color:white;
}

.economiccalendar{
}

.insidenews{
    display:flex;
    justify-content: center;
    align-items: center;

}
.seccionabajo{
    display:flex;
}
.sp500table{

}

.contenderdiv p{
    font-size: 18px;
    font-weight: bold;
}


.contenderdiv p:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color:blue;
    text-align: center;
    background-color: green

}

.contenderdiv td{
    padding:0px 5px;
}

