.stockspanel{

display:flex;
margin-bottom: 80px;
}

.stockspaneldown{
    align-content: space-between;
    
}
.newstable{
    font-size: 15px;
    background-color: white;
    display:block;
    overflow:auto;
    height:600px;
    width:510px;
    
    
    }

.economiccalendar{
    margin:0px 50px
}

.insidenews{
    display:flex;
    justify-content: center;
    align-items: center;

}
.seccionabajo{
    display:flex;
}


