.stockspanel{

display:flex;
margin-bottom: 80px;
}

.stockspaneldown{
    align-content: space-between;
    
}
.newstable{
    font-size: 15px;
    background-color: #23252A;
    display:block;
    overflow:auto;
    height:600px;
    width:510px;
    color:white;
    /* right: 0px;
    top: 140px;
    position: absolute; */
      
    
    }

.divtableandchart{
    display: flex;
}

.contenderdiv{
    background-color: rgba(239, 245, 237, 0.8);
    margin: 12px 50px;
    border-radius: 15px;
}



.h3home{
	text-decoration: none;
	color:white;
}

.economiccalendar{
}

.insidenews{
    display:flex;
    justify-content: center;
    align-items: center;

}
.seccionabajo{
    display:flex;
}
.sp500table{

}

