.inputscreener {
  color: black;
  height: 60px;
  width: 600px;
  border-radius: 15px;
  margin: 30px 55px 5px 55px;
  font-size: 16px;
  border: solid 2px black;
  
}

::placeholder {
  font-size: 30px;
  font-weight: bold;
  color: #23252a;
  align-content: center;
}

.inputscreener:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.screenertable {
  margin: auto;
  border: line px black;
  width: 600px;
  border-spacing: 0px;
  position: relative;
  z-index: 900px;
  

  
}

.tabladesplegable{
  position: absolute;
  z-index: 10;
  left: 33.5%;

}

.namecompany {
  text-decoration-style: none;

}

.symbolcompany {
float: right;
}

.trscreener{

}

Link{
    width: 100%;
    
}

.inputdiv{
text-align: center;
}

.pscreener{
  margin:0px;
  text-decoration: none;
  color: #23252a;
  font-size: 20px;
  font-weight: bold;
}
.pscreener:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color:blue
}

.linkscreener{
  text-decoration: none;

}