.distribution {
  display: flex;
  background-color: rgba(239, 245, 237, 0.8);
  margin:12px 50px;
  
}

.stocksdetailscomponents{
  padding:20px 20px 100px;

}
.datanews {
  font-size: 15px;
}

.newstablestocksdetail {
  font-size: 15px;
  font-size: 15px;
  display:block;
  overflow:auto;
  height:600px;
  width:510px;
}

.chart{
  padding-bottom: 50px;
  margin: 0px 100px
}


.tabledetail{
  font-weight: bold;
}

.tdright{
  float: right;
  padding-left: 40px;
  overflow:hidden;
  text-overflow: ellipsis;

  
}

.tdleft{
font-weight: bold;
height: 20px;

}





::-webkit-scrollbar {
  width: 21px;
  height: 21px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 92px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #de2525;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #ede5e5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}




























